.jumbotron {
    background-color: rgb(140, 56, 218);
    color: black;
    margin-top: 50px;

}
/*
.btn {
    background-color: teal;
}
.btn:hover{
    color: #1883ba;
    background-color: #ffffff;
  }*/
footer {
    padding: 10px 10px 10px;
    background-color: #DDA0DD;
    margin-bottom: 0px;
    margin-top: 20px;
}
.card-producto {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;

}
.btn-informacion {
    width: 100%;
   /* position: absolute;
    left: 0;*/
}
.footer-address-icon {
    padding-right:10px;
}
/*.card-img-top {
    height: 15px;
    width: 20px;
}*/

/*.img-fluid {
    max-width: 95%;
    height: auto;
  }*/
  .oi-star {
    color: yellowgreen;
  }

  .tab-content {
      padding-top: 10px;
  }
 
.carousel, .carousel img {
  /*width: auto;*/
  margin: 10px;
}
