/**colores que se usa en la pagina*/
$lila: #8c38da;
$lilaFoter:#DDA0DD;
/*colores para resaltar*/
$amarillo:#f5f243;
$rojo:#fc1072;
$verde:#26ac48;

@mixin margenes ($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}   

.jumbotron {
    background-color: $lila;
    color: black;
    /*margin-top: 50px;*/
    @include margenes(50px, 10px);
}
/*
.btn {
    background-color: teal;
}
.btn:hover{
    color: #1883ba;
    background-color: #ffffff;
  }*/
footer {
    padding: 10px 10px 10px;
    background-color: $lilaFoter;
    /*margin-bottom: 0px;
    margin-top: 20px;*/
    @include margenes(20px, 0px);
}
.card-producto {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
  /*  margin-top: 10px;*/
    @include margenes(10px, 0px);

}
.btn-informacion {
    width: 100%;
   /* position: absolute;
    left: 0;*/
}
.footer-address-icon {
    padding-right:10px;
}
/*.card-img-top {
    height: 15px;
    width: 20px;
}*/

/*.img-fluid {
    max-width: 95%;
    height: auto;
  }*/
  .oi-star {
    color: yellowgreen;
  }

  .tab-content {
      padding-top: 10px;
  }
 
.carousel, .carousel img {
  /*width: auto;*/
  margin: 10px;
}
.resalatar {
  color: $verde;
}
.caja { 
  font-family: sans-serif; 
  font-size: 18px; 
  font-weight: 400; 
  color: #ffffff; 
  background:$rojo;/*$amarillo o $verde*/
  padding: 10px;
 }