@lila: #8c38da;
@lilaFoter:#DDA0DD;
@verdeAmarillo: #84da38;

.margenes (@top: 0px, @botton: 0px){
    margin-top: @top;
    margin-bottom: @botton;
}
.jumbotron {
    background-color: @lila;
    color: black;
    /*margin-top: 50px;*/
    .margenes(50px, 0px);
    
}
/*
.btn {
    background-color: teal;
}
.btn:hover{
    color: #1883ba;
    background-color: #ffffff;
  }*/
footer {
    padding: 10px 10px 10px;
    background-color: @lilaFoter;
    /*margin-bottom: 0px;
    margin-top: 20px;*/
    .margenes(20px, 0px);
    
}
.card-producto {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
  /*  margin-top: 10px;*/
   .margenes(10px, 0px);
   

}
.btn-informacion {
    width: 100%;
   /* position: absolute;
    left: 0;*/
}
.footer-address-icon {
    padding-right:10px;
}
/*.card-img-top {
    height: 15px;
    width: 20px;
}*/

/*.img-fluid {
    max-width: 95%;
    height: auto;
  }*/
  .oi-star {
    color: @verdeAmarillo;
  }

  .tab-content {
      padding-top: 10px;
  }
 
.carousel, .carousel img {
  /*width: auto;*/
  margin: 10px;
}
